*.class
data/Autosave.json
data/AutosaveBackup.json
data/test/customSave.json
data/test/customSave2.json
data/test/customSave3.json
data/test/testWriterEmptyFileSystem.json
data/test/testWriterRegularFileSystem.json